<section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col-md-10 mx-auto">
            <h1 class="fw-light text-center">About</h1>
            <hr>
            <article class="text-center">
                <h2>Welcome to the Youtube Livestream Console</h2>
                <p>This app was built to help users control their youtube livestreams in a more accessible way.
                </p>
                <p>This site is fully open source, feel free to contribute, fork your own copy, reuse and customise this
                    as you see fit. All I would ask is accreditation to be made to <a href="https://github.com/sol3uk"
                        target="_blank" rel="noopener noreferrer">@sol3uk</a>.</p>
            </article>
            <article>
                <h3>Accreditations</h3>
                <p>This app was made with help from the following:</p>
                <ul>
                    <li>My colleague and friend <a href="https://github.com/npmSteven" target="_blank"
                            rel="noopener noreferrer">@npmSteven</a></li>
                    <li><a href="https://nodejs.org/en/" target="_blank">Nodejs</a> + <a href="https://expressjs.com/"
                            target="_blank">Express</a></li>
                    <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 5</a></li>
                    <li><a href="https://developers.google.com/youtube/v3" target="_blank">Youtube Data Api</a></li>
                    <li><a href="https://app.termsfeed.com/" target="_blank">Terms Feed</a> (ToS & Privacy Policy)</li>
                </ul>
            </article>
            <hr>
            <article>
                <h2 class="text-center">Terms Of Service & Privacy Policy</h2>
                <p>Below you can find my terms of service and privacy policies. These are generic and generated with
                    help from <a href="https://app.termsfeed.com/" target="_blank">Terms Feed</a>.
                </p>
                <p>In short I do not store or sell your information. This app was made solely to help people that want
                    to easily control their youtube livestreams, I only request the required permissions through the
                    Youtube Api and present any requested data directly to you.</p>
                <p>
                    This entire app is open source and can be browsed in full, <a
                        href="https://github.com/sol3uk/Youtube-Livestream-Console" target="_blank"
                        rel="noopener noreferrer">here</a>.
                </p>
                <ul>
                    <li><a href="/TOS" target="_blank">Terms of service</a></li>
                    <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                </ul>
            </article>
        </div>
    </div>
</section>