<section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col-md-10 mx-auto">
            <h1 class="fw-light text-center">About</h1>
            <hr>
            <article class="text-center">
                <h2>Welcome to the Youtube Livestream Console</h2>
                <p>This app was built to help users control their youtube livestreams in a more accessible way.
                </p>
                <p>This site is fully open source, feel free to contribute, fork your own copy, reuse and customise this
                    as you see fit. All I would ask is accreditation to be made to <a href="https://github.com/sol3uk"
                        target="_blank" rel="noopener noreferrer">@sol3uk</a>.</p>

            </article>
            <article>
                <h3>Accreditations</h3>
                <p>This app was made with help from the following:</p>
                <ul>
                    <li>My colleague and friend <a href="https://github.com/npmSteven" target="_blank" rel="noopener noreferrer">@npmSteven</a></li>
                    <li>Nodejs + Express</li>
                    <li>Bootstrap 5</li>
                    <li>Youtube Data Api</li>
                </ul>
            </article>
        {{!--<hr>
            <article>
                <h2 class="text-center">Terms Of Service</h2>
                <p>Terms of service will go here.</p>
            </article> --}}
        </div>
    </div>
</section>