<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Dashboard</h1>
            <p class="lead text-muted">This is your livestream control dashboard. More controls can be found below.</p>
            <p>
                <a href="/streams" class="btn btn-primary my-2">Upcoming Streams</a>
                <a href="#" class="btn btn-success my-2 disabled">COMING SOON{{!-- Create a Special Event --}}</a>
            </p>
        </div>
    </div>
</section>