<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to the <br/><b>The Livestream Console!</b></h1>
      <p class="lead text-muted">Here you can manage your YouTube live streams in an easy way, and even interact with existing events.</p>
      <p>
        <a href="/login" class="btn btn-primary my-2">What can I do?</a>
      </p>
    </div>
  </div>
</section>