<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Get Started</h1>
            <hr>
            <p>To manage your youtube live streams you will need to log in with Google.
            </p> 
            <p>We do <b>not</b> store your data or send your information to advertisers. Read more about our terms of service and privacy policy <a href="/about" target="_blank" rel="noopener noreferrer">here</a>.</p>
            <hr>
            <p>
                <a href="{{model.googleLoginURL}}" class="btn btn-success my-2">Log In With Google</a>
            </p>
        </div>
    </div>
</section>