<div class="py-5">
  <div class="container">
    {{> streamFeatured}}
    <div class="row">
      <h1>Upcoming Streams</h1>
      <p><em class="ps-2 text-muted">Showing top 10 results.</em></p>
      {{!-- stream boxes --}}
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        {{#each model.streams.upcoming}}
          {{> streamCard}}
        {{/each}}
      </div>
    </div>
  </div>
</div>